html{
font-family: 'Roboto Slab', cursive;
}
.mainBody{
	background-color:white;
	box-shadow:0px 0px 5px black;
	margin-top:-10;
	width:1000px;
	margin:auto;
	min-height:500px;
}
.header{
	width:100%;
	background-color:green;
	padding-top:10px;
	padding-bottom:10px;
	font-size:4em;
	text-align:center;
	color:white;
	text-shadow:0px 0px 2px black;
	overflow:auto;
}
ul.mainMenu{
	width: 100%;
	float: left;
	list-style: none;
	background-color:green;
	padding:0px;
	margin:0px;
	margin-top:-10px;
}
.mainMenu li{
	float:left;
	padding:3px;
	color:white;
	text-decoration:none;
	width:244px;
	text-align:center;
}
.mainMenu a{
	color:white;
	text-decoration:none;
}
.mainMenu a:hover{
	color:black;
}
.miniBox{
background-color: green;
height: 100px;
padding:0px;
width: 400px;
margin:20px;
box-shadow:0px 0px 7px black;
z-index:2;
position:relative;
border-radius:7px;
overflow:hidden;
}
.miniBox:hover{
cursor:pointer;
background-color:#338533;
}
.bigBox{
background-color: green;
width: 500;
float: right;
margin-right: 20;
margin-top: 20;
box-shadow:0px 0px 7px black;
}
#popUp1{
	position: fixed;
	background-color: white;
	width: 1000px;
	height:100%;
	top: 134px;
	box-shadow: 0px 0px 7px black;
	z-index:3;
}
.x{
float:right;
font-size:1.2em;
padding:2px;
background-color:red;
color:black;
text-align:center;
padding-left:5px;
padding-right:5px;
}
.x:hover{
background-color:darkred;
color:white;
cursor:pointer;
}
ul.sideBar{
	float:right;
	width:200px;
}
.sideBar li{
	background-color: green;
	list-style: none;
	padding: 5px;
	margin:0;
}
.sideBar li:hover{
	background-color:lightgreen;
	cursor:pointer;
	margin:0;
}
.loginBox{
font-size:25%;
float: right;
/*
border-left: dotted white 3px;
border-bottom: dotted white 3px;
*/
padding: 3px;
color: white;
}
a:visited.login,a:active.login{
color:white;
}
a:link.login{
color:white;
text-decoration:none;
transition-property: color;
transition-duration: .2s;
transition-timing-function: ease-out;
}
a:hover.login{
color:black;
transition-property:color;
transition-duration: .2s;
transition-timing-function: ease-out;
}
.link:hover{
cursor:pointer;
text-shadow:0px 0px 2px black;
}
.loginBox2{
	background-color:green;
	color:white;
	position:relative;
}
td.loginBox3{
	color:white;
}
.submitButton1{
	width:100%;
	background-color:green;
	border-style:outset;
	border-color:darkgreen;
}
.submitButton2{
	width:100%;
	background-color:red;
	border-style:outset;
	border-color:darkred;
}
.submitButton2:hover{
	border-style:inset;
}
.submitButton1:hover{
	border-style:inset;
}